root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[env]
  APP_ENV = "web"

[build]
  args_bin = [""]
  bin = ""
  cmd = "mage genall && mage buildweb"
  delay = 100
  exclude_dir = ["cmd/web/static/images/", "cmd/web/static/thumbnails/", "cmd/web/static/svg/", "internal/"]
  exclude_file = []
  exclude_regex = [".*_templ.go", ".*.sql.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "APP_ENV='web' ./tmp/web"
  include_dir = ["cmd/web"]
  include_ext = ["templ", "html", "css"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
