# Required env vars
ADDRESS="localhost"
PORT=2626
PORT_FS=7070
APP_ENV="local" # "local" or "prod"
DB_URL="file:./test.db"

PAYMENT_SERVICE="PAYMONGO"
PAYMONGO_BASE_URL="https://api.paymongo.com/v1"
PAYMONGO_API_KEY="sk_test_"
PAYMONGO_SUCCESS_URL="https://test.com/cchoice/payments/success"
PAYMONGO_CANCEL_URL="https://test.com/cchoice/payments/cancel"

# LALAMOVE, CCHOICE
SHIPPING_SERVICE="LALAMOVE"
LALAMOVE_BASE_URL="https://rest.sandbox.lalamove.com"
LALAMOVE_API_KEY="pk_test_"
LALAMOVE_API_SECRET="sk_test_"

GEOCODING_SERVICE="GOOGLEMAPS"
GOOGLE_MAPS_API_KEY=""

# Business Location Configuration
BUSINESS_LAT=""
BUSINESS_LNG=""
BUSINESS_ADDRESS=""
BUSINESS_LINE1=""
BUSINESS_LINE2=""
BUSINESS_CITY=""
BUSINESS_STATE=""
BUSINESS_POSTAL_CODE=""
BUSINESS_COUNTRY=""

# LOCAL, LINODE
STORAGE_PROVIDER="LOCAL"
LINODE_ENDPOINT="sg-sin-1.linodeobjects.com"
LINODE_REGION="sg-sin-1"
LINODE_BASE_PREFIX=""

LINODE_PRIVATE_BUCKET=""
LINODE_PRIVATE_ACCESS_KEY=""
LINODE_PRIVATE_SECRET_KEY=""

LINODE_PUBLIC_BUCKET=""
LINODE_PUBLIC_ACCESS_KEY=""
LINODE_PUBLIC_SECRET_KEY=""

OCR_SERVICE="GOOGLEVISION"
GOOGLE_VISION_API_KEY=""

MAIL_SERVICE="MAILEROO"
MAILEROO_API_KEY=""

# stubfs = should error
# embeddedfs = serve files embedded in binary (requires build tag "embeddedfs")
# staticfs = serve files from disk (requires build tag "staticfs")
# s3 = serve files from AWS S3
FSMODE="staticfs"

# Sqids
ENCODE_SALT="abc123"

# Optional env vars
# Only applicable if APP_ENV="local"
# 0 Debug
# 1 Info
# 2 Warn
# 3 Error
# 4 DPanic
# 5 Panic
# 6 Fatal
LOG_MIN_LEVEL=1
USESSL=0
USEHTTP2=1

# Only applicable if USESSL=1
CERTPATH="/home/<user>/certs/localhost+2.pem"
KEYPATH="/home/<user>/certs/localhost+2-key.pem"

GOOSE_DRIVER="sqlite3"
GOOSE_DBSTRING="file:./test.db" # must match $DB_URL
GOOSE_MIGRATION_DIR="./migrations/sqlite3"
