.env
xlsx/*.xlsx
!xlsx/sample.xlsx
test.db
test.db-shm
test.db-wal
tmp/
cmd/web/static/css/tailwind.css
node_modules/
*_templ.txt
cmd/web/static/images/product_images/bosch/
cmd/web/static/thumbnails/product_images/bosch/
cmd/web/static/images/brand_logos/*.webp
