package common

templ DateSelector(id string, value string, required bool) {
	<input
		type="date"
		id={ id }
		name="date"
		value={ value }
		required?={ required }
		class="px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-cchoice focus:border-cchoice"
	/>
}
