package product

import "cchoice/cmd/web/models"
import "fmt"

templ ProductImage(data models.ProductPageData) {
	<div class="flex flex-col gap-4">
		<div class="relative aspect-square w-full max-w-lg bg-gray-100 rounded-lg overflow-hidden">
			<img
				id="product-main-image"
				src={ heroImageURL(data) }
				alt={ fmt.Sprintf("%s %s", data.BrandName, data.Name) }
				class="w-full h-full object-contain"
				width="1280"
				height="1280"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		@ProductExternalPlatformLinks(data)
	</div>
}
