@import "tailwindcss";

@config "../js/tailwind.config.js";

@layer utilities {
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.htmx-indicator {
		opacity: 0;
		transition: opacity 500ms ease-in;
	}
	.htmx-request .htmx-indicator {
		opacity: 1;
	}
	.htmx-request.htmx-indicator {
		opacity: 1;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 12px;
		height: 8px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #F7EFEA;
		border-radius: 10px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: #F6742F;
		border-radius: 10px;
		border: 2px solid #F7EFEA;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background-color: #F46133;
	}

	.custom-scrollbar::-webkit-scrollbar-corner {
		background: #F7EFEA;
	}
}
