package components

import (
	"cchoice/cmd/web/components/common"
	"cchoice/cmd/web/components/header"
	"cchoice/cmd/web/models"
	"cchoice/internal/enums"
)

templ AdminStaffHomePage(fullName string, roles []enums.StaffRole, memos []models.StaffMemoCard) {
	<!DOCTYPE html>
	<html lang="en" class="overflow-x-hidden">
		<head>
			@common.HeadMeta()
			@common.TabTitle("[STAFF] C-Choice Admin")
		</head>
		<body
			class="bg-surface min-h-screen flex flex-col"
			_="init call metrics_event('admin_visit', 'staff home')"
		>
			@common.DevRibbon()
			@common.ErrorBanner()
			@common.SuccessBanner()
			<div class="flex-grow p-4">
				<div class="max-w-6xl mx-auto">
					@header.AdminStaffHeaderWithSubtitle(fullName)
					@StaffMemoCards(memos)
					@AdminStaffCardsGrid(getAllStaffCards(roles))
				</div>
			</div>
			<div id="memo-reject-modal-container"></div>
			@ScriptAdminDashboardSearch()
		</body>
	</html>
}
