package components

templ CenterCard(children ...templ.Component) {
	<div
		class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 place-self-center w-1/3 flex flex-col place-content-center m-auto"
	>
		for _, child := range children {
			@child
		}
	</div>
}
