package components

templ Services() {
	<section id="services" class="absolute m-2 flex flex-col left-0">
		<span>Our Services</span>
		<div>
			Delivery
		</div>
		<div>
			Here when you need us
		</div>
		<div>
			Expect high-quality products
		</div>
	</section>
}
