package components

templ Services() {
	<section class="flex flex-col">
		<span>Our Services</span>
		<div>
			Delivery
		</div>
		<div>
			Here when you need us
		</div>
		<div>
			Expect high-quality products
		</div>
	</section>
}
